.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}

.button {
    padding: 10px 20px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b6ea1;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: #2b6ea1;
}

.button:active {
    opacity: 0.7;
}